mat-drawer-container {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
 }
 
 mat-drawer{
   max-width: 150px;
 }

 .link{
    color: white;
    text-decoration: none;
 }

 .linethrough{
   color: white;
   text-decoration: line-through;
   text-decoration-color: black;
   text-decoration-thickness: 4px;
 }